body {
    counter-reset: gdln;
}

.kix-lineview::before {
    counter-increment: gdln;
    content: counter(gdln);
    position: relative;
    left: -4em;
    float: left;
    color: #999;
}

.kix-lineview:hover::before {
    color: black;
}
