body {
  counter-reset: ln;
}

/* .kix-lineview {
  counter-increment: ln;
}*/

/*Adding border line*/
.text-border .kix-page-content-wrapper .kix-paragraphrenderer::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  left: -1em;
  float: left;
  border-left: 3px double black;
}
.kix-page-content-wrapper .kix-page-bottom .kix-paragraphrenderer::before {
  border: none;
}

.kix-lineview {
  --ln-offset: -2.7em;
  --ln-width: 2em;
}

/* Line numbering */

.kix-lineview.numbered {
  counter-increment: ln;
}

.kix-lineview.numbered.visible::before {
  content: counter(ln);
  position: absolute;
  left: var(--ln-offset);
  width: var(--ln-width);
  text-align: right;
  float: left;
  color: #626871;
  top: var(--ln-top);
  transform: translateY(-50%);
  /* top: 50%;
  transform: translateY(-50%); */
}

.kix-lineview.numbered.visible.right::before {
  left: 0;
  right: var(--ln-offset);
  text-align: left;
  float: right;
}

/* .kix-lineview.numbered.visible.right::before {
  content: counter(ln);
  position: relative;
  right: var(--ln-offset);
  width: var(--ln-width);
  text-align: left;
  float: right;
  color: #626871;
  top: 50%;
  transform: translateY(-50%);
} */

.linenumberhover .kix-lineview.numbered:hover::before {
  color: black;
}

#lnMenu .goog-inline-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#lnMenu img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 3px;
  height: 24px;
  width: 24px;
}

#line-numbering-dialog .dialog-section {
  margin-bottom: 16px;
}

#line-numbering-dialog .dialog-title {
  color: #202124;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 8px;
}

#line-numbering-dialog .dialog-checkbox-field {
  align-items: center;
  display: inline-flex;
  padding-left: 2px;
}

#line-numbering-dialog .dialog-input-field {
  align-items: center;
  display: flex;
  height: 40px;
}

#line-numbering-dialog .dialog-input-field .label {
  cursor: pointer;
  padding-left: 6px;
  padding-top: 2px;
}

#line-numbering-dialog .dialog-input-field .jfk-textinput.input-error {
  border-color: #dd4b39;
}

#line-numbering-dialog .ln-input-error {
  color: #dd4b39;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 11px;
  outline: none;
}

#line-numbering-dialog .ln-inline-group {
  display: flex;
}

.ln-control .jfk-radiobutton .jfk-radiobutton-radio {
  height: 16px;
  left: 2px;
  width: 16px;
  border: 2px solid #5f6368;
}

.ln-control .jfk-radiobutton.jfk-radiobutton-checked .jfk-radiobutton-radio {
  border: 2px solid #4285f4;
}

.ln-control .jfk-radiobutton.jfk-radiobutton-checked .jfk-radiobutton-radio::after {
  background: #4285f4;
  border: 4px solid #4285f4;
  box-sizing: border-box;
  height: 8px;
  left: 2px;
  top: 2px;
  width: 8px;
}