@import url(https://fonts.googleapis.com/css?family=Lato:700,400,300);

body {
  width: 300px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
}

.header .title {
  font-size: 20px;
  color: rgb(76,76,76);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0;
}

.header .logo img {
  height: 48px;
  width: 48px;
}

.header .subtitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

.footer {
  padding: 5px
}

/* Links */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#009bff;
}
a:hover{
	color:#2A5DB0;
}

/* Sign in with Google */
.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  padding: 0;
}
.google-button:focus, .google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  -webkit-transition-duration: 10ms;
          transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}