@import url(https://fonts.googleapis.com/css?family=Lato:700,400,300);

body {
  width: 300px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
h1 {
  font-size: 20px;
  color: rgb(76,76,76);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0;
}
h1::after {
  content: "";
  display: block;
  height: 1px;
  width: 200%;
  margin-top: -20px;
  margin-left: -10px;
  background: rgb(240,240,240);
}
h1 img {
  height: 48px;
  width: 48px;
}
h1 .title {
  position: relative;
  bottom: 25px;
  left: 5px;
}
h1 .subtitle {
  position: relative;
  bottom: 33px;
  left: 53px;
  font-size: 12px;
  font-weight: 400;
}

.content {
  padding: 5px
}

/* Links */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:#81b3d2;
	font-size: 1.5em;
}
a:hover{
	color:#d73444;
}
a:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a:after{
  bottom:-0.25em;
}
a:after{
  height:0.1rem;
  width:0;
  background:#d73444;
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a:hover:after{
  width:100%;
}
