/* ************** */
/* Line numbering */
/* ************** */

.kix-lineview.numbered {
  counter-increment: ln;
}

.kix-lineview.numbered.visible::before {
  content: counter(ln);
  position: absolute;
  left: -2.7em;
  width: 2em;
  text-align: right;
  float: left;
  top: var(--ln-top);
  transform: translateY(-50%);
  font-size: var(--ln-size);
  color: var(--ln-color);
}

.kix-lineview.numbered.visible.right::before {
  left: 0;
  right: var(--ln-offset);
  text-align: left;
  float: right;
}

.linenumberhover .kix-lineview.numbered:hover::before {
  color: black;
}

/* **************** */
/* Document Borders */
/* **************** */

.ln-document-left-border::before {
  content: '';
  position: absolute;
  height: 300vh;
  top: -150vh;
  width: 1px;
  left: -0.5em;
  float: left;
  border-right: var(--ln-left-border-size) var(--ln-left-border-style) black;
  z-index: 100;
}

.ln-document-right-border::after {
  content: '';
  position: absolute;
  height: 300vh;
  width: 1px;
  right: -0.5em;
  top: -150vh;
  float: right;
  border-right: var(--ln-right-border-size) var(--ln-right-border-style) black;
  z-index: 100;
}

/* .kix-page-content-wrapper .kix-page-bottom .kix-paragraphrenderer::before {
  border: none;
} */

/* *********** */
/* Dialog Menu */
/* *********** */

#lnMenu .goog-inline-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

#lnMenu img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 3px;
  height: 24px;
  width: 24px;
}

#line-numbering-dialog .modal-dialog.docs-dialog {
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

#line-numbering-dialog .dialog-section {
  margin-bottom: 16px;
  /* overflow: scroll; */
  margin-right: -24px;
  padding-right: 24px;
}

#line-numbering-dialog .modal-dialog-buttons {
  margin-top: 0;
}

#line-numbering-dialog .dialog-title {
  color: #202124;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-bottom: 1px solid #dadce0;
  margin: 0 -24px 8px -24px;
  padding: 0 24px;
}

#line-numbering-dialog .dialog-title .section-title {
  margin: 0 8px;
  padding-bottom: 2px;
  cursor: pointer;
}
#line-numbering-dialog .dialog-title .section-title:first-of-type  {
  margin-left: 0;
}
#line-numbering-dialog .dialog-title .section-title:last-of-type  {
  margin-right: 0;
}

#line-numbering-dialog .dialog-title .section-title.active {
  border-spacing: 10px;
  border-bottom: 2px solid rgb(78, 139, 241);
}

#line-numbering-dialog .dialog-checkbox-field {
  align-items: center;
  display: inline-flex;
  padding-left: 2px;
}

#line-numbering-dialog .dialog-input-field {
  align-items: center;
  display: flex;
  height: 40px;
}

#line-numbering-dialog .dialog-input-field .label.checkbox-label {
  cursor: pointer;
  padding-left: 6px;
  padding-top: 2px;
}

#line-numbering-dialog .dialog-dropdown-menu {
  height: 36px;
  padding: 8px 0;
}

#line-numbering-dialog .dialog-dropdown-menu .title {
  margin-top: 10px;
}

#line-numbering-dialog .dialog-dropdown-menu .dropdown-control {
  float: right;
}

#line-numbering-dialog .settings .section-title {
  color: #202124;
  font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 10px;
}

#line-numbering-dialog .dialog-input-field.disabled .label, #line-numbering-dialog .dialog-input-field.disabled span {
  opacity: .38;
  cursor: default;
}

#line-numbering-dialog .dialog-input-field.disabled .jfk-textinput {
  opacity: .38;
}

#line-numbering-dialog .dialog-input-field .jfk-textinput.input-error {
  border-color: #dd4b39;
}

#line-numbering-dialog .ln-input-error {
  color: #dd4b39;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: 11px;
  outline: none;
}

#line-numbering-dialog .ln-inline-group {
  display: flex;
}

#line-numbering-dialog .go-premium {
  opacity: 0.8;
  text-align: right;
}

#line-numbering-dialog .go-premium p {
  margin-bottom: -10px;
}

.ln-control .jfk-radiobutton .jfk-radiobutton-radio {
  height: 16px;
  left: 2px;
  width: 16px;
  border: 2px solid #5f6368;
}

.ln-control .jfk-radiobutton-disabled .jfk-radiobutton-radio {
  border-color: #5f6368;
  opacity: .38;
}

.ln-control .jfk-radiobutton.jfk-radiobutton-checked .jfk-radiobutton-radio {
  border: 2px solid #4285f4;
}

.ln-control .jfk-radiobutton.jfk-radiobutton-checked .jfk-radiobutton-radio::after {
  background: #4285f4;
  border: 4px solid #4285f4;
  box-sizing: border-box;
  height: 8px;
  left: 2px;
  top: 2px;
  width: 8px;
}