@import url(https://fonts.googleapis.com/css2?family=Baloo+Thambi+2);
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    width: 375px;
}

/* Header */

.header {
    font-family: "Baloo Thambi 2", cursive;
    font-size: 18px;
    font-weight: 800;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px;
    text-align: center;
}

.header span {
    color: #4e8bf1;
}

.header #go-back {
    float: left;
    cursor: pointer;
    margin-left: 10px;
}
.header #go-back .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #dadada;
    border-right: 2px solid #dadada;
    transform: rotate(-135deg);
}

.header .close-button {
    float: right;
    color: #dadada;
    width: 22px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 1;
}

/* Active Banner */

.active-banner {
    /* background: #d7eef7;
    color: #4e8bf1;
    background: #d7f7e8;
    color: #1ba163; */
    color: #5a5b5f;
    font-weight: 300;
    background: linear-gradient(to right, #a8ff78, #78ffd6);
    font-size: 15px;
    line-height: 24px;
    padding: 18px 65px;
    position: relative;
}

/* Content */

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Support Description */
.support-description {
    padding: 20px 20px 0 20px;
    font-size: 15px;
    color: #5a5b5f;
    line-height: 20px;
    text-align: center;
}

.support-description a,
.support-description a:visited,
.support-description a:hover,
.support-description a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    -webkit-transition: 0.5s color ease;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #4e8bf1;
}
.support-description a:hover {
    color: #2a5db0;
}

/* Premium Description */

.premium-description {
    padding: 15px;
    font-size: 15px;
    color: #5a5b5f;
    line-height: 20px;
}

.premium-description ul {
    list-style: none;
    margin: 0;
    padding: 10px 0 5px 0;
}

.premium-description li {
    margin-bottom: 3px;
    font-size: 13px;
    color: #acacae;
    line-height: 18px;
}

.premium-description li a {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    -webkit-transition: 0.5s color ease;
    transition: 0.5s color ease;
    text-decoration: none;
    color: inherit;
}
.premium-description li:hover {
    color: #5a5b5f;
}

.premium-description li:before {
    display: inline-block;
    content: '';
    border-radius: 0.5rem;
    height: 0.25rem;
    width: 0.25rem;
    margin-right: 0.25rem;
    background-color: #acacae;
    top: 50%;
    transform: translateY(-50%);
}
.premium-description li:hover:before {
    background-color: #5a5b5f;
}

/* Ask to login text */
.ask-to-login-message {
    padding: 0 20px;
    font-size: 15px;
    color: #5a5b5f;
    line-height: 20px;
    text-align: center;
}

/* Sign in with Google button */

.google-button {
    cursor: pointer;
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    -webkit-transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    -webkit-transition-duration: 150ms;
            transition-duration: 150ms;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    padding: 0;
}
.google-button:focus, .google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    -webkit-transition-duration: 10ms;
            transition-duration: 10ms;
}

.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}

.google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
}

/* Go Premium Button */

.go-premium-btn {
    cursor: pointer;
    background: transparent;
    padding: .75rem 1rem;
    border: none;
    border-left: 3px solid #fdc830;
    border-right: 3px solid #f37335;
    background-image: -webkit-linear-gradient(left, #fdc830, #f37335), -webkit-linear-gradient(left, #fdc830, #f37335);
    background-size: 100% 3px;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}
.go-premium-btn:focus {
    outline: 0;
    box-shadow: none!important;
}
.go-premium-btn-text {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    background: -webkit-linear-gradient(left, #fdc830, #f37335);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Thank you for your support Message */

.thank-you-message {
    padding: 0 20px;
    font-size: 15px;
    color: #5a5b5f;
    line-height: 20px;
    text-align: center;
}

/* TODO: Unify all these button into common CSS */

/* Manage Subscription Button */

.manage-subscription-btn {
    margin-top: 10px;
    cursor: pointer;
    background: transparent;
    padding: .75rem 1rem;
    border: none;
    background-image: -webkit-linear-gradient(left, #4e8bf1, #5B86E5);
    border-radius: 5px;
}
.manage-subscription-btn:focus {
    outline: 0;
    box-shadow: none!important;
}
.manage-subscription-btn-text {
    color: #fff;
    font-size: 12px;
}

/* Update Subscription Button */

.update-subscription-btn {
    cursor: pointer;
    background: transparent;
    padding: .75rem 1rem;
    border: none;
    background-image: -webkit-linear-gradient(left, #4e8bf1, #5B86E5);
    border-radius: 5px;
    margin-bottom: 10px;
}
.update-subscription-btn:focus {
    outline: 0;
    box-shadow: none!important;
}
.update-subscription-btn-text {
    color: #fff;
    font-size: 12px;
}

/* Cancel Subscription Button */

.cancel-subscription-btn {
    cursor: pointer;
    background: transparent;
    padding: .75rem 1rem;
    border: none;
    background-image: -webkit-linear-gradient(left, #FA6E6E, #f06b6c);
    border-radius: 5px;
}
.cancel-subscription-btn:focus {
    outline: 0;
    box-shadow: none!important;
}
.cancel-subscription-btn-text {
    color: #fff;
    font-size: 12px;
}

/* Restart Subscription Button */
.restart-subscription-btn {
    cursor: pointer;
    background: transparent;
    padding: .75rem 1rem;
    border: none;
    background-image: -webkit-linear-gradient(left, #77D183, #62C887);
    border-radius: 5px;
}
.restart-subscription-btn:focus {
    outline: 0;
    box-shadow: none!important;
}
.restart-subscription-btn-text {
    color: #fff;
    font-weight: 800;
    font-size: 12px;
}

/* Footer */

.footer {
    margin-top: 15px;
    font-size: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px;
    text-align: center;
}

.footer a,
.footer a:visited,
.footer a:hover,
.footer a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    -webkit-transition: 0.5s color ease;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #4e8bf1;
}

.footer a:hover {
    color: #2a5db0;
}

#manage-subscription {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Checkout */
.vertical-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Checkout title */
.checkout-title {
    padding: 10px 20px;
    font-size: 18px;
    color: #38383b;
    line-height: 20px;
    text-align: center;
}

.checkout-question {
    padding: 10px 20px;
    font-size: 15px;
    color: #5a5b5f;
    line-height: 20px;
    text-align: center;
}

.amount-selection {
    padding: 10px 20px;
    font-size: 15px;
    color: #5a5b5f;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
}

/* Amount selection */
.amount-input {
    display: inline-block;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    margin: 10px auto;
    transition: background-color 0.5s ease;
    width: 60px;
    text-align: center;
    font-size: 16px;
    background-color:rgb(255, 255, 255);
    border-bottom-color:rgb(225, 225, 225);
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-left-color:rgb(225, 225, 225);
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:rgb(225, 225, 225);
    border-right-style:solid;
    border-right-width:1px;
    border-top-color:rgb(225, 225, 225);
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:border-box;
    color:rgb(0, 0, 0);   
}
.amount-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Checkout Button */

.checkout-btn {
    cursor: pointer;
    background: transparent;
    padding: 1rem 1.5rem;
    border: none;
    background-image: -webkit-linear-gradient(left, #4e8bf1, #5B86E5);
    border-radius: 5px;
    margin: 15px 0 5px 0;
    width: calc(100% - 60px);
}
.checkout-btn:focus {
    outline: 0;
    box-shadow: none!important;
}
.checkout-btn-text {
    /* text-transform: uppercase; */
    letter-spacing: 0.5px;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
}

/* Checkout subscript */

.checkout-subscript {
    margin: 0 15px;
    font-size: 12px;
    color: #acacae;
    line-height: 18px;
    text-align: center;
}